@each $name, $color in $colorTypes {
  .#{$name} {
    color:$color;
  }
  .border-bottom-#{$name} {
    border-bottom: 1px solid $color;
  }
  .bg-#{$name} {
    background: $color!important;
  }
  .btn-#{$name} {
    color: $color;
    border: 1px solid $color;
    background: $secondary;
    padding: 0.5rem 2rem;
    &:hover{
      color: $secondary;
      background: $color;
    }
  }
}

@each $name, $lineHeight in $lineHeightTypes {
  .lh-#{$name} {
    line-height:$lineHeight;
  }
}

@each $name, $fontSize in $fontTypes {
  .font-#{$name} {
    font-size:$fontSize;
  }
}