.sidenav{
    margin-bottom: 330px;
}

.login-detail{
    display: flex;
    padding: 0 32px;
}

.login-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true");
    background-position:center;
    background-size: contain;
}

.login-name{
    margin-left: 16px;
}
    
.list-group{
    display: block;
}

.list-group-item{
    border: none;
    background: $primary;
    padding-left: 32px;
}

.list-group-item.active{
    z-index: 2;
    color: $dark-primary;
    background: $primary;
    border-left: 4px solid $dark-primary;
    padding-left: 28px;
    /* 覆蓋樣式 color: #fff; 
    background-color: #007bff; 
    border-color: #007bff; */
}

.list-group-item-action{
    color: $accent;
    &:hover{
        color: $secondary;
        background: $dark-primary;
    }
}