.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.topic{
    display: flex;
    align-items: center;
}

.toptoolbar{
    margin-left: 2.875rem;
}

.topnav span:hover{
    color: $dark-primary;
}

.search .modal-content{
    width: 65%;
}

.search-btn{
    background: $light-primary;
    color: $dark-primary;
    &:hover{
        background: $dark-primary;
        color: $primary;
    }
}

.notification{
    margin-left: 1.5rem;
}


