@mixin hide-text{
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin display-inline{
    display: inline;
    vertical-align: middle;
}

body{
    font-size: 16px;
}

img{
    display: block;
}
  
