a{
    color: $accent;
    cursor: pointer;
    &:hover{
        color: $dark-primary;
        text-decoration: none; /*拿掉 boostrap 預設*/
    }
}

.middle{
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

.bg-primary{
    background: $primary!important;
}

.bg-dark-primary{
    background: $dark-primary;
}


