img{
    display: block;
  }
  
a{
    color: #000;
}
  
table{
    border-collapse: collapse;
}
  
td,th{
    padding: 10px 15px;
}
  
th{
    text-align: left;
    border-bottom: 1px solid;
}
  
td{
    border-bottom: 1px solid #CDDDCD;
}

.middle{
    vertical-align: middle;
}