a{
    color: $accent;
    cursor: pointer;
    &:hover{
        color: $dark-primary;
        text-decoration: none; /*拿掉 boostrap 預設*/
    }
}

.w-100percent{
    width: 100%;
}

.middle{
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

.disable:hover{
    cursor: not-allowed;
}

.space-between{
    display: flex;
    justify-content: space-between;
}





