body{
    font-size: 16px;
}

.font-xs{
    font-size: 0.75rem;
}
.font-s{
    font-size: 0.875rem;
}
.font-m{
    font-size: 1rem;
}
.font-l{
    font-size: 1.25rem;
}
.font-xl{
    font-size: 1.5rem;
}

